<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodeli"
        tools:targetApi="31">
        <activity
            android:name=".Activities.SelectPayment.SelectPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SelectVoucher.SelectVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SelectAddress.SelectAddressActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProductDetail.ProductReview"
            android:exported="false" />
        <activity
            android:name=".Activities.ProductDetail.ProductDetail"
            android:exported="false" />
        <activity
            android:name=".Activities.Cart.CartActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SeeAll.SeeAllTopProducts.AllTopProduct"
            android:exported="false" />
        <activity
            android:name=".Activities.SeeAll.SeeAllCategory.AllCategory"
            android:exported="false" />
        <activity
            android:name=".Activities.Home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Auth.ForgotPassword.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".Activities.Auth.ForgotPassword.ForgotPasswordTypeEmall"
            android:exported="false" />
        <activity
            android:name=".MainActivity.MainActivity"
            android:exported="true"
            android:label="Foodeli"
            android:theme="@style/Theme.Foodeli">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Introduce.IntroActivity"
            android:exported="true"
            android:label="Foodeli"
            android:theme="@style/Theme.Foodeli" />
        <activity
            android:name=".Activities.Auth.Login.Login"
            android:exported="false" />
        <activity
            android:name=".Activities.Auth.Signup.SignUp"
            android:exported="false" />
    </application>

</manifest>